/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

h1 { 
    font-family: "Roboto", sans-serif; 
    font-size: 3.75em;  
    font-weight: 500; 
    margin-top: 1em;
    color: #212529;
}
h2 {
    font-family: "Roboto", sans-serif; 
    font-size: 1.5em;  
    font-weight: 500; 
    margin-top: 1em;
    color: #FFFFFF;
}
h3{
    font-family: "Roboto", sans-serif; 
    font-size: 1.5em;  
    font-weight: 300; 
    color: #212529;
}

h4{
    font-family: "Roboto", sans-serif; 
    font-size: 1.25em; 
    font-weight: 300; 
    color: #707070;
}
h5{
    font-family: "Roboto", sans-serif; 
    font-size: 1em; 
    font-weight: 300; 
    color: #707070;
}
li{
    color: #707070;
}

/*Nav y enlaces*/

.logo{
    width: 30%;
}
nav a{
    font-family: "Roboto", sans-serif; 
    font-size: 1em;  
    font-weight: 300; 
    color: #ffffff;
}
a{
    font-family: "Roboto", sans-serif; 
    font-size: 0.8em;
    font-weight: 400; 
}


/*Colores de fondo*/
.oferta{
    font-weight: 500; 
    color: #28A745;
}
.bg-verde{
    background-color: #28A745;
}
.bg-verde a{
    color: #FFFFFF;
}

/*items*/
.item{
    margin-bottom: 5%;
    width: 100%;
}
.tarjeta{
    width: auto;
    padding: 5% 0% 5% 5%;
}

.newsletter{
    background-color: #28A745;
    text-align: center;
    vertical-align: middle;
    padding: 5% 5% 5% 5%;
}
footer{
    padding: 5%;
    text-align: center;
}
.logofooter{
    width: 7em;
}
.card-body a.card-link:first-child {
  color: #707070;
  font-weight: 300;
  font-size: 16px;
}
.card-body a.card-link:nth-child(2) {
  color: var(--success);
  font-weight: 500;
  font-size: 1.5em;
  margin-left: 2%;
}
.formulario{
    width: 50%;
}

/*Media*/
@media (max-width:568px){
    .navbar-brand{
        width: 50%;
      }
    .logo{
        width: 50%;
    }
    .formulario{
        width: 100%;
    }
}
@media only screen 
   and (min-width : 320px) {
   .formulario{
        width: 100%;
    }

}
@media only screen 
   and (min-width : 768px) {
   .formulario{
        width: 50%;
    }
}
@media only screen 
   and (min-width : 1200px) {
   .formulario{
        width: 30%;
    }
}
@media only screen 
   and (min-width : 1600px) {
   .formulario{
        width: 30%;
    }
}